


body {
    background-color: #ffffff; /* set the body background color to white */
   

  }
  
  .x1 {

    text-align: left;
   /* background-image:url('./gray.jpg');*/
   background-color: #555555; /* set the box background color to gray */
    color: #ffffff; /* set the text color to white */
    padding: 20px;
    margin: 10px;
    background-position:center;
    background-size:cover;
  }
  