table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }

  th {
    background-color: gray;
    color: white;
  }

  button.edit {
    background-color: blue;
    color: white;
  }
  
  button.save {
    background-color: green;
    color: white;
  }
  
  button.delete {
    background-color: red;
    color: white;
  }


  input.edit-input {
    width: 100%;
    max-width: 100px; /* adjust this value as needed */
    padding: 5px;
    font-size: 14px;
  }