.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px;
    color: #fff;
    height: 60px;
    width: 100%;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  
  .menu-item {
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;

  }

  .menu-link {
    text-decoration: none;
    color: black;
  }
  
  .menu-link:hover {
    color: white;
  }
  
  .dropdown-link {
    text-decoration: none;
    color: black;
  }
  
  .dropdown-link:hover {
    color: white;
  }
  
  
  .dropdown-menu {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #ccc;
    width: 200px;
  }
  
  .dropdown-item {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  